SPANNER_PROJECT_ID=
SPANNER_INSTANCE_ID=
SPANNER_DATABASE_NAME=
GIN_MODE=debug
LOG_LEVEL=debug
# Below only needed for init.go
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION=
# DYNAMODB_ENDPOINT=
